.results {
  border-radius: 5px;
  width: 50%;
  background-color:#FFFFFF;
  position: relative;
  transition: display 0.5s;
  display: none;
  z-index: 10;
  max-height: 400px;
  overflow-y: auto;
}

mat-list-item {
  cursor: pointer;
}

mat-list-item:hover {
  opacity: 0.4;
}


.body {
	/* width: 100%; */
	/* height: 100vh; */
    background-image: url('../../assets/weather-bg.jpg');
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
  }

  /* .module {
    background: #222;
    color: white;
    padding: 2rem;
 } */
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
 }
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
 }
  .form__field::placeholder {
    color: transparent;
 }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
 }
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
 }
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    /* border-image: linear-gradient(to right, #11998e, #38ef7d); */
    border-image-slice: 1;
 }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 700;
 }
 /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
 }

.result_names{
  display: block;
  text-align: center;
  margin-top: auto;
  margin-left : auto;
  margin-right:auto;

}

/* .gradient-wrapper {
  width: 310px;
  height: 310px;
  background: linear-gradient(to right, red, purple);
} */

.weather{
  min-width: 300px;
  /* background-color: rgb(97, 97, 97); */
  color: #fff;
  height: 300px;

  display: block;
  text-align: center;
  margin-top: auto;
  margin-left : auto;
  margin-right:auto;
  z-index: 9;

}

.weather .line {

  margin-bottom: 20px;
  font-family: monospace;
}

.absolute-center {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  margin: 10px;
}

 /* .temp{
  display:inline;
}
.feels-like{
  display:inline;
}  */
